{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}Leslie's Notes{% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta24/shoelace.css">
  <link rel="stylesheet" href="{% static 'css/notes.css' %}">
  <!-- <script src="{% static 'js/bad.js' %}" defer></script> -->
</head>
<body>
    <div class="container">
        <div class="header">
            <H1>Leslie's Notes</H1>
        </div>
    </div>
        
    {% block content %}
    {% endblock %}    
</body>
    
</html>